name: Update Lottery Data  
  
on:  
  schedule:  
    - cron: '38 13 * * *'  # 每天 21:40 运行一次  
  workflow_dispatch: # 允许手动点击运行  
  
jobs:  
  build:  
    runs-on: ubuntu-latest  
    steps:  
      - name: Checkout code  
        uses: actions/checkout@v3  
  
      - name: Setup Node.js  
        uses: actions/setup-node@v3  
        with:  
          node-version: 18  
  
      - name: Fetch Data  
        run: node update_data.js  
  
      - name: Commit and Push  
        run: |  
          git config --global user.name "GitHub Action"  
          git config --global user.email "action@github.com"  
          git add data.json  
          git commit -m "Auto update data.json" || exit 0  
          git push  
